<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tableview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F41E8AED25D3BC80009D9CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F41E8B0125D3BC80009D9CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F41E8B0C25D3BC80009D9CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
